# Основы pandas

### Задание 1  
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [69]:
import pandas as pd

датасет ml-latest-small.zip

In [70]:
data_ratings = pd.read_csv('ratings.csv')
#возможно, следующие две строки можно записать одним выражением, но я не нашёл как, вылезала ошибка
rating_5 = data_ratings[ data_ratings.rating == 5 ]
rating_5['movieId'].value_counts().head(1)

318    153
Name: movieId, dtype: int64

In [71]:
data_movies = pd.read_csv('movies.csv')
best_movie = data_movies[ data_movies.movieId == 318 ]
best_movie.head()

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

### Задание 2  
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [72]:
data_power = pd.read_csv('power.csv')
data_power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [73]:
data_power_filtered =  data_power[ ((data_power['country'] == 'Latvia') | (data_power['country'] == 'Lithuania') |
                       (data_power['country'] == 'Estonia')) &
                       ((data_power['year'] < 2010) &  (data_power['year'] > 2005)) & 
                       ((data_power['category'] == 4) |(data_power['category'] == 12) | (data_power['category'] == 21)) &
                       (data_power['quantity'] >= 0)]

data_power_filtered['quantity'].sum()

164555.0

### Задание 3  
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.  
Примеры страниц (необязательно брать именно эти):  
https://fortrader.org/quotes  
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [75]:
import_page = pd.read_html('https://www.bvb.de/eng/Statistics/Matchdays',encoding='utf-8')

import_page[0]

,Unnamed: 0,Unnamed: 1,team,P,W,D,L,goals,diff,PTS
0,1.0,(1.),Bayern München,29,21,4,4,86:28,58,67
1,2.0,(2.),Borussia Dortmund,29,18,6,5,80:35,45,60
2,3.0,(4.),Borussia Mönchengladbach,29,17,5,7,57:35,22,56
3,4.0,(5.),Bayer Leverkusen,29,17,5,7,54:36,18,56
4,5.0,(3.),Rasenballsport Leipzig,28,15,10,3,70:29,41,55
5,6.0,(6.),VfL Wolfsburg,29,11,9,9,41:36,5,42
6,7.0,(7.),TSG 1899 Hoffenheim,29,12,6,11,40:48,-8,42
7,8.0,(8.),Sport-Club Freiburg,29,10,8,11,38:41,-3,38
8,9.0,(10.),Hertha BSC,29,10,8,11,43:50,-7,38
9,10.0,(9.),FC Schalke 04,29,9,10,10,34:46,-12,37
10,11.0,(11.),1. FC Köln,28,10,4,14,44:52,-8,34
11,12.0,(14.),Eintracht Frankfurt,28,9,5,14,46:53,-7,32
12,13.0,(12.),FC Augsburg,29,8,7,14,40:56,-16,31
13,14.0,(13.),1. FC Union Berlin,29,9,4,16,34:52,-18,31
14,15.0,(15.),1. FSV Mainz 05,29,8,4,17,37:62,-25,28
15,16.0,(16.),Fortuna Düsseldorf,29,6,9,14,31:58,-27,27
16,17.0,(17.),SV Werder Bremen,28,6,7,15,30:59,-29,25
17,18.0,(18.),Paderborn,29,4,7,18,32:61,-29,19